*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    padding: 70PX 70PX 24px 70X;
    background-color: #F5CF06;

}

header{
    background-color: red;
}
main{
    background-color: white;
}
footer{
    background-color: black;
}